<div class="d-flex min-vh-100" style="background-color: #ebebeb;">
  <!-- Sidebar -->
  <aside class="text-white p-3" style="width: 250px;background-color: #101A33;" >
    <h5 class="mb-4">Admin Panel</h5>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white" href="admin/product-list">Product List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="admin/add-product">Add Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="orders">Orders</a>
      </li>
    </ul>
  </aside>
  <main class="flex-grow-1 p-3">
    <router-outlet />
  </main>
</div>