<div class="container">
    <div class="row">



        @for(product of productList;track product.id){
        <div class="col-lg-3 col-2">
            <a href="/view-product/{{product.id}}">
                <div class="card m-2 p-2">
                    <img src="{{product.coverImage}}" alt="{{ product.name }}" />
                    <strong>{{ product.name }}</strong>
                    <p>Price: {{ product.price }}</p>
                    <!-- <button (click)="addToCart(product)">Add to Cart</button> -->
                </div>
            </a>
        </div>
        }
    </div>
</div>